body {
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  color: #404040;
  background: #f5f5f5;
}

.base {
  background: #f5f5f5;
  border: 0.2rem solid #d5d5d5;
  border-radius: 1%;
  margin: 2% auto;
  margin-top: 5%;
  width: 96%;
  max-width: 890px;
  font-size: min(2vw, 18px);
  height: 36em;
}

.topbar {
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  height: 10.4%;
}
.topbar button {
  display: inline-block;
  width: 7%;
  height: 85%;
  position: relative;
  top: 0.1em;
  border: 0.1em solid #adadad;
  border-radius: 1.2em;
  box-shadow: 0.04em 0.04em 0.3em #adadad;
  background: radial-gradient(#e3e3e3, #adadad);
  color: #404040;
  font-weight: 900;
  font-size: 1.6em;
}
.topbar button:hover {
  background: linear-gradient(#adadad, #e3e3e3);
  color: #ffffff;
}
.topbar form {
  display: inline-block;
  width: 88%;
  margin-left: 0.4%;
  height: 70%;
}
.topbar form .searchField {
  border: 0em solid #ffffff;
  border-radius: 0.3em;
  background-color: #e9e9e9;
  width: 80%;
  height: 100%;
}
.topbar form .searchField:focus-visible {
  outline: #adadad solid 0.02em;
  background-color: #e9e9e9;
}
.topbar form .searchButton {
  display: inline-block;
  width: 18%;
  height: 90%;
  position: relative;
  bottom: 0.1em;
  border: 0.1em solid #b7b7b7;
  border-radius: 0.4em;
  box-shadow: 0.06em 0.06em 0.4em #ababab;
  background: linear-gradient(#ffffff, #d3d3d3);
}
.topbar form .searchButton:hover {
  background: linear-gradient(#d3d3d3, #ffffff);
}

.weather-content {
  margin: 0 auto;
  width: 100%;
  height: 89.6%;
}

.today {
  background: transparent;
  display: inline-block;
  width: 98%;
  border-radius: 0.4em;
  height: 75%;
  margin-bottom: 1%;
}
.today .city {
  margin: 0 auto;
  width: 100%;
  height: 17%;
  line-height: 100%;
  font-size: 3em;
  padding-top: 1%;
}
.today .date {
  margin: 0 auto;
  width: 94%;
  height: 6%;
  font-size: 1.3em;
  text-align: left;
}
.today .weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  height: 78%;
  margin: 0.5% 1% 0 1%;
}
.today .weather .img {
  background-color: transparent;
  border-radius: 1.5em;
  margin-bottom: 2%;
  width: 69%;
  height: 94%;
  border: 0.4em double #d5d5d5;
}
.today .weather .img img {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1.2em;
}
.today .weather .img .temperature {
  text-align: center;
  position: relative;
  bottom: 85%;
  left: 35%;
  width: 63%;
  height: 75%;
  background: radial-gradient(#f5f5f594 27%, #f5f5f505 71%);
}
.today .weather .img .temperature .temp {
  font-size: 5.5em;
  font-weight: 900;
  height: 56%;
  position: relative;
  top: 6%;
}
.today .weather .img .temperature .descriptiveText {
  font-size: 1.6em;
}
.today .weather .other-weather {
  display: block;
  height: 100%;
  width: 29%;
}
.today .weather .other-weather .more-info {
  display: block;
  width: 100%;
  height: 18.5%;
  border-radius: 0.4em;
  background: #e9e9e9;
  margin: 6% 0;
}
.today .weather .other-weather .more-info .data-text {
  font-size: 1.4em;
  width: 50%;
  height: 100%;
  line-height: 2.1em;
  display: inline-block;
}
.today .weather .other-weather .more-info .data {
  font-size: 0.9em;
  line-height: 3.7em;
  display: inline-block;
  width: 40%;
  height: 100%;
}

.after {
  display: inline-block;
  width: 100%;
  height: 24%;
}
.after .day {
  display: inline-block;
  width: 23%;
  height: 100%;
}
.after .day .img {
  background-color: transparent;
  width: 96%;
  height: 73%;
  display: inline-block;
}
.after .day .img img {
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 2em;
}
.after .day .img .temp {
  line-height: 3em;
  font-size: 2.4em;
  font-weight: 900;
  position: relative;
  bottom: 110%;
  background: radial-gradient(#f5f5f554 27%, #f5f5f500 71%);
}
.after .day .weekday {
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  height: 20%;
  position: relative;
  bottom: 59%;
}

a {
  color: #404040;
}
a:hover {
  color: #ababab;
}
