body {
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  color: #0a183f;
  background: #e7eaf6;
}

.base {
  background: #ccd3f1;
  border: 0.2rem dotted #97a7ee;
  border-radius: 1%;
  margin: 2% auto;
  margin-top: 5%;
  width: 96%;
  max-width: 890px;
  font-size: min(2vw, 18px);
  height: 36em;
}

.topbar {
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  height: 10.4%;
}
.topbar button {
  display: inline-block;
  width: 7%;
  height: 85%;
  position: relative;
  top: 0.1em;
  border: 0.1em solid #38598b;
  border-radius: 1.2em;
  box-shadow: 0.04em 0.04em 0.3em #38598b;
  background: radial-gradient(#3b5f94, #304d79);
  color: #d8dfff;
  font-weight: 900;
  font-size: 1.6em;
}
.topbar button:hover {
  background: linear-gradient(#304d79, #3b5f94);
  color: #ffffff;
}
.topbar form {
  display: inline-block;
  width: 88%;
  margin-left: 0.4%;
  height: 70%;
}
.topbar form .searchField {
  border: 0em solid #97a7ee;
  border-radius: 0.3em;
  background-color: #e7eaf6;
  width: 80%;
  height: 100%;
}
.topbar form .searchButton {
  display: inline-block;
  width: 18%;
  height: 90%;
  position: relative;
  bottom: 0.05em;
  border: 0.1em solid #97a7ee;
  border-radius: 0.4em;
  box-shadow: 0.06em 0.06em 0.4em #97a7ee;
  background: linear-gradient(#e7eaf6, #d9dce7);
}
.topbar form .searchButton:hover {
  background: linear-gradient(#d9dce7, #e7eaf6);
}

.weather-content {
  margin: 0 auto;
  width: 100%;
  height: 89.6%;
}

.today {
  border: 0.2em dotted #97a7ee;
  background: transparent;
  display: inline-block;
  width: 98%;
  border-radius: 0.4em;
  height: 69%;
  margin-bottom: 1%;
}
.today .city {
  margin: 0 auto;
  width: 100%;
  height: 17%;
  line-height: 100%;
  font-size: 3em;
  padding-top: 1%;
}
.today .date {
  margin: 0 auto;
  width: 94%;
  height: 6%;
  font-size: 1.3em;
  text-align: left;
}
.today .weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  height: 76%;
  margin-top: 0.5%;
}
.today .img {
  background-image: linear-gradient(#ccd3f150, #ccd3f150),
    url("../media/default-weather.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border-radius: 1.5em;
  margin: 0 0 2% 2%;
  width: 68%;
  height: 94%;
  border: 0.4em double #97a7ee;
}
.today .img .temp {
  text-align: right;
  position: relative;
  top: 20%;
  right: 16%;
  font-size: 5.5em;
  font-weight: 900;
}
.today .other-weather {
  display: block;
  height: 100%;
  width: 29%;
}
.today .more-info {
  display: block;
  width: 96%;
  height: 17.5%;
  border-radius: 0.4em;
  background: #ffffffc4;
  margin: 6% 0;
}
.today .more-info .data {
  font-size: 1.4em;
  width: 50%;
  height: 100%;
  line-height: 2.1em;
  display: inline-block;
}
.today .more-info .data-text {
  font-size: 0.9em;
  line-height: 3.7em;
  display: inline-block;
  width: 40%;
  height: 100%;
  position: relative;
  bottom: 6%;
}

.after {
  display: inline-block;
  width: 100%;
  height: 30%;
}
.after .day {
  display: inline-block;
  width: 24%;
  height: 100%;
}
.after .day .img {
  background-image: linear-gradient(#ccd3f150, #ccd3f150),
    url("../media/default-weather.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border-radius: 1.1em;
  width: 90%;
  height: 79%;
  display: inline-block;
  border: 0.3em double #97a7ee;
}
.after .day .img .temp {
  text-align: right;
  line-height: 520%;
  font-size: 1.8em;
  position: relative;
  top: 25%;
  right: 32%;
  font-weight: 900;
}
.after .day .weekday {
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  height: 20%;
}
